<div>
  <span (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></span>
  <aside>
    <span (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></span>
    <div>
      <img src="../../../assets/images/l5networks.png" alt="Logo l5networks" />
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink=""><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li>
          <a routerLink="search-artist" routerLinkActive="linkActive"
            ><i class="fa-solid fa-magnifying-glass"></i>Pesquisar por
            Artistas</a
          >
        </li>
        <li>
          <a routerLink="search-album" routerLinkActive="linkActive"
            ><i class="fa-solid fa-magnifying-glass"></i>Pesquisar por Álbuns</a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
