<div>
  <aside>
    <div>
      <img src="../../../assets/images/l5networks.png" alt="Logo l5networks" />
    </div>
    <nav>
      <ul>
        <li>
          <a href=""><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li>
          <a href=""
            ><i class="fa-solid fa-magnifying-glass"></i>Pesquisar por
            Artistas</a
          >
        </li>
        <li>
          <a href=""
            ><i class="fa-solid fa-magnifying-glass"></i>Pesquisar por Álbuns</a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
