div {
  display: flex;
  align-items: center;
  justify-content: center;
  aside {
    background-color: black;
    width: 250px;
    padding: 10px 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
    > div {
      text-align: center;
      padding: 20px 0;
      img {
        max-width: 100%;
        width: 140px;
      }
    }

    > nav {
      margin-top: 20px;
      ul {
        list-style: none;
        li {
          a {
            color: #b3b3b3;
            font-size: 14px;
            text-decoration: none;
            transition: all 0.3s;
            i {
              margin: 0 10px 20px 0;
            }

            &:hover {
              color: white;
            }
          }
          .linkActive {
            color: white;
            font-weight: bold;
          }
        }
      }
    }

    > span {
      color: white;
      text-align: right;
      display: none;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    @media screen and (max-width: 768px) {
      transform: translateX(-100%);
    }
  }

  main {
    margin-left: 250px;
    width: 100vw;
    overflow-x: hidden;
    background-color: #333;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }

  > span {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    left: 40px;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.toggleMenu {
  transform: translate(0) !important;
}
